<app-centered-projection>
   <div class="main-content">
      <p class="wordsCount">{{ wordsPassed }}</p>
      <mat-card class="game">
         <h2 class="btn--pronounce">
            <button mat-fab color="primary" (click)="onPronounce()">
               <mat-icon>volume_up</mat-icon>
            </button>
         </h2>

         <mat-form-field class="input" *ngIf="!isAnswered">
            <mat-label>Type word here</mat-label>
            <input matInput [(ngModel)]="inputValue" #input />
         </mat-form-field>

         <div class="show" *ngIf="isAnswered">
            <p class="show__wordCorrect">{{ currentWord.english }}</p>
            <p
               class="show__wordIncorrect"
               *ngIf="
                  inputValue.toUpperCase() !== currentWord.english.toUpperCase()
               "
            >
               {{ inputValue }}
            </p>
            <p class="show__transcription">[{{ currentWord.transcription }}]</p>
            <p>{{ currentWord.russian.join(',') }}</p>
            <p>{{ currentWord.text }}</p>
         </div>

         <button mat-raised-button (click)="onEnterClick()">Enter</button>
      </mat-card>
   </div>
</app-centered-projection>
