<mat-toolbar color = "primary" class = "header">
   <h1 class = "header__title"><a routerLink = "/dictionary">Dictionary</a></h1>

   <nav class = "header__nav">
      <a routerLink = "/learn" mat-button routerLinkActive = "mat-accent">Learn</a>
      <a routerLink = "/sets" mat-button routerLinkActive = "mat-accent">Sets</a>
      <a routerLink = "/dictionary" mat-button routerLinkActive = "mat-accent">Dictionary</a>
      <a routerLink = "/auth/signup" mat-button routerLinkActive = "mat-accent">Signup</a>
      <a routerLink = "/auth/login" mat-button routerLinkActive = "mat-accent">Login</a>
   </nav>
</mat-toolbar>
