.set {
   width: 200px;
   height: 200px;
   display: flex;
   justify-content: flex-end;
   position: relative;
   cursor: pointer;

   &__header {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }

   &__actions {
     align-self: flex-start;
     opacity: 0;
     transition: .5s;
   }

   &:hover &__actions{
      opacity: 1;
   }

   &__form-field {
      width: 100%;
   }


}
