.result {
   width: 200px;
   text-align: center;
}

.correct {
   background: lighten($color: green, $amount: 30);
   height: 20px;
}

.incorrect {
   margin-top: 20px;
   background: lighten($color: red, $amount: 30);
   height: 20px;
}

.buttons {
   margin-top: 50px;
}
