<section class = "game-container" >
   <div class="main-content" *ngIf = "currentWord && !isFinished">
      <p class="wordsCount">{{ (results.length + 1) + ' / ' + words.length}}</p>
      <mat-card class = "game" >
         <div class="game__left">
            <h3 class="game__wordName">{{ currentWord.russian.join(',') }}</h3>
         </div>
      
         <div class="game__right">
            <ng-container *ngFor = "let option of options">
                  <button 
                     (click) = "onAnswer(option)"
                     [color] = "option?.color"
                     class = "game__option"
                     mat-stroked-button >
                     {{ option.value }}
                  </button>
            </ng-container>
         </div>
      </mat-card>
   </div>

   <app-results 
      *ngIf = "isFinished" 
      [result] = "results"
      (learnAgain) = "learnAgain()"></app-results>
</section>