<mat-form-field class="create__group">
   <mat-label>Word</mat-label>
   <input
      matInput
      #word
      (input) = "onInput(word.value)"
      [matAutocomplete]="auto">
   <mat-autocomplete
      #auto="matAutocomplete">
         <mat-option
            [matTooltip] = "translation.value.length > 50 ? translation.value : null"
            class = "create__option"
            *ngFor="let translation of translations$ | async"
            (click) = "chooseTranslation(translation)">
            {{ translation.value }}
         </mat-option>
   </mat-autocomplete>
</mat-form-field>
