<section class = "word-translation" >
   <div class="main-content" *ngIf = "currentWord && !isFinished">
      <p class="wordsCount">{{ (results.length + 1) + ' / ' + words.length}}</p>
      <mat-card class = "game" >
         <div class="game__left">
            <button mat-icon-button (click) = "onPronounce()">
               <mat-icon>volume_up</mat-icon>
            </button>
            <h3 class="game__wordName">{{ currentWord.english }}</h3>
            <h4 class = "game__transcription">[{{ currentWord.transcription }}]</h4>
         </div>
      
         <div class="game__right">
            <ng-container *ngFor = "let option of options; let i = index">
                  <button 
                     (click) = "onAnswer(option)"
                     [color] = "option.color"
                     class = "game__option"
                     mat-stroked-button >
                     {{ option.value }}
                  </button>
            </ng-container>
         </div>
      </mat-card>
   </div>

   <app-results 
      *ngIf = "isFinished" 
      [result] = "results"
      (learnAgain) = "learnAgain()"></app-results>
</section>