.word-translation {
   margin-top: 100px;
   width: 500px;
   height: 200px;
   margin: 0 auto;
}

.wordsCount {
   text-align: right;
}

.game {
   display: flex;

   &__left {
      flex-grow: 1;
   }

   &__right {
      flex-grow: 2;
   }

   &__wordName {
      font-weight: 500;
   }

   &__transcription {
      color: grey;
      font-weight: 300;
   }

   &__option {
      display: block;
      width: 100%;
   }
}
