.sets__main {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
   gap: 20px;
}
.sets__create-set {
   width: 200px;
   height: 200px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.sets__form-field {
   width: 100%;
}
