.sets__main {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   justify-items: center;
   gap: 20px;
}
.sets__create-set {
   width: 200px;
   height: 200px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.sets__form-field {
   width: 100%;
}


@media only screen and (max-width: 1300px) {
   .sets__main {
      grid-template-columns: repeat(4, 1fr);
   }
}

@media only screen and (max-width: 1050px) {
   .sets__main {
      grid-template-columns: repeat(3, 1fr);
   }
}

@media only screen and (max-width: 800px) {
   .sets__main {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media only screen and (max-width: 540px) {
   .sets__main {
      grid-template-columns: repeat(1, 1fr);
   }
}
