.sets__main {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.sets__create-set {
   width: 200px;
   height: 200px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.sets__set {
   margin-top: 20px;
}

.sets__form-field {
   width: 100%;
}