mat-card {
   width: 400px;
}

mat-card-header {
   display: flex;
   justify-content: center;
}

mat-card-actions {
   text-align: center;

   p {
      cursor: pointer;
   }
}

.social-medias {
   margin-top: 15px;
   display: flex;
   justify-content: center;
}
