.game {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   width: 100%;
   height: calc(100vh - 64px);
}

p {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}

button {
   white-space: pre-wrap !important;
   display: block;
   margin-bottom: 10px;
}

mat-card {
   justify-content: space-between;
}

.options {
   width: 100%;
}

.option {
   position: relative;
   &::before {
      content: attr(data-before);
      position: absolute;
      left: -15px;
      color: grey;
      font-size: 1em;
   }
}
