.container {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.7);
   display: flex;
   justify-content: center;
   align-items: center;
}

.form {
   width: 600px;

   &__image-container {
      width: 200px;
      position: relative;
   }

   &__buttonChangePicture {
      position: absolute;
      top: 0;
      left: 0;
   }

   &__picture {
      max-width: 100%;
      height: auto;
   }

   &__group {
      width: 100%;
   }

   &__icon {
      cursor: pointer;
      user-select: none;
   }
}

.top {
   display: flex;
   justify-content: space-between;
}

mat-card {
   position: relative;
}

.save {
   position: absolute;
   top: 10px;
   right: 10px;
}

.translations__title {
   margin-top: 0;
   font-weight: 600;
}
