<mat-checkbox
   matTooltip="select all"
   color="primary"
   (change)="setCheckAll.emit(!checkAll)"
   [checked]="checkAll"
   class="dictionary__selectAll"
></mat-checkbox>

<button
   matTooltip="set as learned selected"
   [disabled]="!checkAll && !checkedWords.length"
   mat-icon-button
   color="primary"
   (click)="setAsLearned()"
>
   <mat-icon>done</mat-icon>
</button>

<button
   matTooltip="delete selected"
   [disabled]="!checkAll && !checkedWords.length"
   mat-icon-button
   color="warn"
   (click)="manageSelected()"
>
   <mat-icon>delete</mat-icon>
</button>

<mat-form-field class="manage-words__sendToGames">
   <mat-label>Send to...</mat-label>
   <mat-select>
      <mat-option
         *ngFor="let option of availableGames; let i = index"
         (click)="manageSelected(i)"
      >
         {{ option }}
      </mat-option>
   </mat-select>
</mat-form-field>

<mat-form-field>
   <mat-label>Add to set</mat-label>
   <mat-select>
      <mat-option (click)="addToSet(set.id)" *ngFor="let set of sets$ | async">
         {{ set.title }}
      </mat-option>
   </mat-select>
</mat-form-field>
