<section class = "dictionary">
   <header class = "dictionary__header">
      <h1>{{ title | uppercase }}</h1>
      <app-word-create [setId] = "id"></app-word-create>
      <div class="dictionary__manage-word" >
         <mat-checkbox
         matTooltip = "select all"
         color = "primary"
         (change) = "checkAll = !checkAll"
         #selectAll
         class="dictionary__selectAll"
         ></mat-checkbox>

         <button
            matTooltip = "delete selected"
            [disabled] = "!checkAll && !checkedWords.length"
            mat-icon-button
            color = "warn"
            (click) = "manageSelected(); selectAll.checked = false">
            <mat-icon>delete</mat-icon>
         </button>

         <mat-form-field>
            <mat-label>Send to...</mat-label>
            <mat-select>
              <mat-option
              *ngFor="let option of sendToOptions; let i = index"
              (click) = "manageSelected(i); selectAll.checked = false">
                {{ option }}
              </mat-option>
            </mat-select>
         </mat-form-field>
      </div>
   </header>
   <mat-card>
      <mat-accordion>
         <div class="dictionary__wordholder" *ngFor = "let word of words$ | async" >
            <mat-checkbox
               [checked] = "selectAll.checked || word.isChecked"
               (change) = "onCheckBoxChange(word)"
               color = "primary"
               class = "dictionary__checkbox"
               ></mat-checkbox>
            <app-word
               class = "dictionary__word"
               [word] = "word"
               (showEditing) = "showEditing($event)"></app-word>
         </div>
      </mat-accordion>

      <p *ngIf = "(words$ | async)?.length === 0" class="dictionary__empty">Nothing added yet</p>
   </mat-card>
</section>

<app-word-edit *ngIf = "showEdit" (hide) = "hideEditing()" [word] = "word"></app-word-edit>
