.dictionary {
   margin: 0 auto;
   width: 60%;

   &__wordholder:nth-child(n + 2) {
      margin-top: 5px;
   }

   &__button {
      align-self: center;
   }

   &__empty {
      text-align: center;
      margin-top: 0;
   }

   &__wordholder {
      display: flex;
      align-items: center;
   }

   &__checkbox {
      margin-right: 16px;
   }

   &__word {
      width: 100%;
   }
}
