.dictionary {
   margin: 0 auto;
   width: 60%;

   &__button {
      align-self: center;
   }

   &__empty {
      text-align: center;
      grid-column-end: span 2;
      justify-self: center;
   }

   &__wordholder {
      display: flex;
      align-items: center;
   }

   &__checkbox {
      margin-right: 16px;
   }

   &__word {
      width: 100%;
   }
}

mat-card {
   display: grid;
   grid-template-columns: 35px 1fr;
   align-items: center;
   row-gap: 5px;
}

.date-title {
   grid-column-start: span 2;
   font-weight: 500;
   justify-self: center;
}
