<section class = "dictionary" infinite-scroll (scrolled) = "onScroll()">
   <header class = "dictionary__header">
      <h1>{{ title | uppercase }}</h1>
      <app-word-create [setId] = "id"></app-word-create>
      <app-manage-words
         [checkedWords] = "checkedWords"
         [checkAll] = "checkAll"
         (uncheckWords) = "uncheckWords()"
         (setCheckAll) = "setCheckAll($event)"
         *ngIf = "(words$ | async)?.length"></app-manage-words>
   </header>
   <mat-card>
      <mat-accordion>
         <div class="dictionary__wordholder" *ngFor = "let word of words$ | async" >
            <mat-checkbox
               [checked] = "checkAll || word.isChecked"
               (change) = "onCheckBoxChange(word)"
               color = "primary"
               class = "dictionary__checkbox"
               ></mat-checkbox>
            <app-word
               class = "dictionary__word"
               [word] = "word"
               (showEditing) = "showEditing($event)"></app-word>
         </div>
      </mat-accordion>

      <p *ngIf = "!(words$ | async)?.length" class="dictionary__empty">Nothing added yet</p>
   </mat-card>
</section>

<app-word-edit *ngIf = "showEdit" (hide) = "hideEditing()" [word] = "word"></app-word-edit>
