.game-container {
   margin-top: 100px;
   width: 500px;
   height: 200px;
   margin: 0 auto;
}

.wordsCount {
   text-align: right;
}

.game {
   display: flex;
   justify-content: space-between;

   &__left {
      width: 30%;
   }

   &__right {
      width: 65%;
   }

   &__wordName {
      font-weight: 500;
   }

   &__transcription {
      color: grey;
      font-weight: 300;
   }

   &__option {
      width: 100%;
      white-space: pre-wrap !important;

      &:nth-child(n+ 2) {
         margin-top: 5px;
      }
   }
}
