.main-content {
   width: 500px;
}

.wordsCount {
   text-align: right;
}

.game__top {
   display: flex;
   justify-content: space-between;
   margin-bottom: 5px;
}

.game__left {
   width: 30%;
}

.game__right {
   width: 65%;
}

.game__wordName {
   font-weight: 500;
   overflow-wrap: break-word;
}

.game__transcription {
   color: grey;
   font-weight: 300;
}

.game__option {
   width: 100%;
   white-space: pre-wrap !important;
   position: relative;

   &:nth-child(n + 2) {
      margin-top: 5px;
   }

   &::before {
      content: attr(data-before);
      position: absolute;
      left: -15px;
      color: grey;
      font-size: 1em;
   }
}

mat-card-actions {
   text-align: right;
}

.button-nothing::before {
   content: 'Enter';
   position: absolute;
   left: -40px;
   color: grey;
   font-size: 1em;
   cursor: none;
}
