.text--plain {
   color: grey;
}

.content {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   
   &__top {
      display: flex;
      justify-content: space-between;
   }

   &__transcription {
      align-self: flex-start;
   }
}

.picture__container {
   width: 300px;
}

.picture {
   max-width: 100%;
   height: auto;
}

.action {
   display: flex;
   justify-content: space-between;
}