<mat-expansion-panel (opened) = "isPanelOpened = true" (closed) = "isPanelOpened = false">
   <mat-expansion-panel-header>
     <mat-panel-title>
      {{ word.english }}
     </mat-panel-title>
     <mat-panel-description *ngIf = "!isPanelOpened">
      {{ word.russian.join(', ') | cutLength:30 }}
     </mat-panel-description>
   </mat-expansion-panel-header>

   <ng-template matExpansionPanelContent>
      <div class="content">
         <button 
            mat-button 
            *ngIf = "word.transcription" 
            class="content__transcription"
            (click) = "pronounce()">{{ word.transcription }}</button>

         <div class="content__top">
            <div class="picture__container">
               <img [src] = "word.pic_url" [alt]="word.english" class = "picture">
            </div>
            <div class="content__translation" *ngIf = "isPanelOpened">
               {{ word.russian.join(', ') }}
            </div>
         </div>
         
         <p class = "text--plain">
            {{ word.text }}
         </p>
      </div>
   
      <mat-action-row>
         <button (click) = "onDelete()" mat-raised-button color = "accent">Delete</button>
         <button (click) = "onEdit()" mat-raised-button color = "primary">Edit</button>
      </mat-action-row>
   </ng-template>
</mat-expansion-panel>
