<mat-expansion-panel>
   <mat-expansion-panel-header>
     <mat-panel-title>
      {{ word.english }}
     </mat-panel-title>
     <mat-panel-description>
      {{ word.russian.join(', ') }}
     </mat-panel-description>
   </mat-expansion-panel-header>

   <div class="content">
      <div class="picture__container" *ngIf = "word.pic_url">
         <img [src] = "word.pic_url" [alt]="word.english" class = "picture">
      </div>
      <p class = "text--plain">
         {{ word.text }}
      </p>
   </div>

   <mat-action-row>
      <button (click) = "onDelete()" mat-raised-button color = "accent">Delete</button>
      <button mat-raised-button color = "primary">Edit</button>
   </mat-action-row>
</mat-expansion-panel>
